* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

body {
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
}

/* Main Grid */
.container {
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';
}
/* Header */
header {
  margin-bottom: 50px;
}

.banner {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.searchBox {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

input[name='search'] {
  display: block;
  width: 100%;
  margin: 10vh auto;
  font-size: 2rem;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(204, 204, 204);
}

button.search {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.fa-search {
  font-size: 2rem;
  color: #757575;
}

/* Search filters */
.search-filters {
  margin: -50px auto 0;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50vw;
}

#reportrange {
  text-align: center;
  background: #fff;
  cursor: pointer;
}

.article-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

dl a {
  text-decoration: none;
  color: black;
}

.multi-select ul li label,
.multi-select ul li input {
  cursor: pointer;
}

.multi-select {
  display: none;
  cursor: pointer;
}
.multi-select-active {
  display: block;
  position: absolute;
  background-color: rgb(255, 255, 255);
}

/* Main */
main {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

main .nyt-logo {
  margin: 0 auto;
  width: 20%;
  display: none;
}

main article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  border-bottom: 0.7px solid rgb(204, 204, 204);
  padding: 20px;
}
main article img {
  width: 100%;
}

main article .article-content :nth-child(3) {
  padding-top: 10px;
}

main article .article-content a {
  color: rgb(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 0.7rem;
}

.searchInfo {
  color: rgb(117, 117, 117);
  text-align: center;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  margin-top: 50px;
  text-align: center;
  color: rgb(85, 85, 85);
  background-color: rgba(0, 0, 0, 0.3);
}

footer p {
  width: 100vw;
  padding: 5px 10px;
  font-size: 0.7rem;
}

/* Media Queries */

@media (min-width: 320px) {
  .banner {
    padding-top: 30px;
    width: 100%;
  }
  .searchBox {
    width: 75%;
  }
  input[name='search'] {
    font-size: 1.5rem;
  }
  button.search {
    top: -5px;
    right: -5px;
  }
  main {
    width: 90vw;
  }
}

@media (min-width: 533px) {
  main {
    width: 65vw;
  }
}
@media (max-width: 812px) and (orientation: portrait) {
  .search-filters {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .article-section {
    margin-top: 20px;
  }
}

@media (max-width: 812px) and (orientation: landscape) {
  .search-filters {
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .article-section {
    margin-top: 20px;
  }
  footer {
    margin-top: 80px;
  }
}

@media (min-width: 768px) {
  main {
    width: 80vw;
  }
}

@media (min-width: 992px) {
  main {
    width: 60vw;
  }
}
