* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

/* Header */
.banner {
  display: block;
  width: 40vw;
  margin: 0 auto;
}

.searchBox {
  position: relative;
}

input[name='search'] {
  display: block;
  width: 50vw;
  margin: 10vh auto;
  font-size: 2rem;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
}

button.search {
  position: absolute;
  top: 0;
  right: 25vw;
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.fa-search {
  font-size: 2rem;
  color: #757575;
}

/* Search filters */
.search-filters {
  margin: 0 auto;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40vw;
}

#reportrange {
  text-align: center;
  background: #fff;
  cursor: pointer;
}

.article-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

dl a {
  text-decoration: none;
  color: black;
}

.multi-select ul li label,
.multi-select ul li input {
  cursor: pointer;
}

.multi-select {
  display: none;
  cursor: pointer;
}
.multi-select-active {
  display: block;
  position: absolute;
}

/* Main */
main {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

main article {
  padding: 25px;
}
.searchInfo {
  color: rgb(117, 117, 117);
  text-align: center;
}
