* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

body {
  min-height: 100%;
  margin: 0;
}

/* Main Grid */
.container {
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';
}
/* Header */
header {
  margin-bottom: 50px;
}

.banner {
  position: f;
  display: block;
  width: 40vw;
  margin: 0 auto;
}

.searchBox {
  position: relative;
}

input[name='search'] {
  display: block;
  width: 50vw;
  margin: 10vh auto;
  font-size: 2rem;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(204, 204, 204);
}

button.search {
  position: absolute;
  top: 0;
  right: 25vw;
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.fa-search {
  font-size: 2rem;
  color: #757575;
}

/* Search filters */
.search-filters {
  margin: 0 auto;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40vw;
}

#reportrange {
  text-align: center;
  background: #fff;
  cursor: pointer;
}

.article-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

dl a {
  text-decoration: none;
  color: black;
}

.multi-select ul li label,
.multi-select ul li input {
  cursor: pointer;
}

.multi-select {
  display: none;
  cursor: pointer;
}
.multi-select-active {
  display: block;
  position: absolute;
  background-color: rgb(255, 255, 255);
}

/* Main */
main {
  width: 60vw;
  min-height: calc(100vh - 460px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

main .nyt-logo {
  margin: 0 auto;
  width: 20%;
  display: none;
}

main article {
  display: grid;
  grid-template-columns: 30% auto;
  padding: 25px;
  border-bottom: 0.7px solid rgb(204, 204, 204);
}
main article img {
  width: 100%;
}

main article .article-img {
  padding-right: 10px;
}

main article .article-content {
  padding-left: 10px;
}

main article .article-content :nth-child(3) {
  padding-top: 10px;
}

main article .article-content a {
  color: rgb(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 0.7rem;
}

.searchInfo {
  color: rgb(117, 117, 117);
  text-align: center;
}

/* Footer */
footer {
  margin-top: 50px;
  text-align: center;
  color: rgb(204, 204, 204);
}

footer p {
  padding: 5px 5px;
  font-size: 0.7rem;
}
